
/* Propiedades del Body */

body {
    @include textprop(40px); 
    background-color: darken( $bg-color, 15%);
}

/* propiedades imagen de WS */
.logows{
    position: sticky;
    top:10px
}

.imgws{
    border-radius: 25px;
    width: 60px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    transition: all 1s;
    &:hover {
        transform: scale(1.4);
        -webkit-transform:scale(1.4);
        -o-transform: scale(1.4);
        -moz-transform: scale(1.4);
        /* Para que funcione la transformación en los navegadores indicados */
    }
}

/* propiedades de sección con items a seleccionar */
#content{
    display: grid;
    width: 95%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-bottom: 35px;
    }

/* Aplico transformaciones a las imàgenes */

.imagen-item{

    width: 500px;
    height: 280px;
    &:hover{
        animation: shadowBox 1s;
    }
}

@keyframes shadowBox {
    0%{
        box-shadow: none;
    }

    100% {
        transform: translate(10px, 20px);
        -webkit-transform: translate(10px, 20px);
        -o-transform: translate(10px, 20px);
        -moz-transform: translate(10px, 20px);
        box-shadow: -15px -15px rgba(89, 72, 105, 0.767);
    }
}

article h2 {
        @include textprop (40px);

        &:hover {
            color: $hover-color;
        }
}
a {
    text-decoration: none;
}

/* propiedades del Background */
.backgroundvideo{
    position: fixed;

    /* tamaño del video */
    min-width: 120%;
    min-height: 120%;
    /* abarcamiento en la página- 0% es el total */
     top: -10%;
    left: 0%;

    /* posición inicial del video */
     transform: translateX(0%); 
    transform: translateY(0%);

    /* posición en el eje z - -1 es para que quede de fondo */
    z-index: -1;

}



/* Propiedades de páginas secundarias */

.form-label{
    @include textprop (20px);

}

/* Propiedades de Grid de pag secundarias - Bootstrap */
.container{
   margin-bottom: 20px;
}

.card-text{
    @include textprop (20px);
    color: $bg-color;
}

/* Propiedad imagen fondo pág secundarias */

.backgroundimg{
    position: fixed;

    /* tamaño  */
    min-width: 100%;
    min-height: 100%;

    /* abarcamiento en la página- 0% es el total */
     top: 0%;
    left: 0%;

    /* posición inicial del video */
     transform: translateX(0%); 
    transform: translateY(0%);

    /* posición en el eje z - -1 es para que quede de fondo */
    z-index: -1;

}


@media (max-width: 768px) {

   #content{
       grid-template-columns: 1fr;
       justify-items: center;
       }
   }